.section {  
    min-height: 32rem;
    display: flex;
    flex-direction: column;
    @include desktop {
        min-height: 23rem;
    }
    @include tablette {
        min-height: 20rem;
    }
    &__title{
        padding-left: 1.5rem;
        padding-top: 1.5rem;
    }

    &__display {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        gap: 25px;
        margin-top: 1rem;
        &__restaurant {
            @include desktop {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            @include tablette {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &__function {
            @include desktop {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
            }
            @include tablette {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
            }
        }
    }
    &--white {

        background-color: white;
    }
    &--gray {
        background-color: $light-gray;
        padding-bottom: 3rem;
    }
}