@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.light-gray {
  background-color: #F6F6F6;
}

.icon::before {
  /* removed font- based rules */
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.header {
  background-color: white;
  font-family: "Shrikhand";
  font-weight: bolder;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  margin-bottom: 4rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.header--menu i {
  color: #2E2E2E;
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
.header--menu i:hover {
  animation: spin 0.7s ease-in-out forwards;
}

.home-header {
  position: absolute;
  top: -100px;
  animation: descending 1s 3s forwards;
}

.footer {
  background-color: #2E2E2E;
  color: #FFF;
  width: 100%;
  padding: 10px 0;
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: 300;
  margin-left: 15px;
}
.footer__link {
  margin: 15px;
}
.footer i {
  margin-right: 0.5rem;
  width: 20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 5000;
  height: 100%;
  width: 100%;
  background-color: white;
  display: grid;
  place-content: center;
  place-items: center;
  animation: shade-out 1s 3s 1 ease-in-out forwards;
}
.loader > i {
  font-size: 8rem;
  color: hsl(267deg, 66%, 60%);
  animation: spin 3s linear infinite;
}

.localisation {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E7E7;
  color: #2E2E2E;
  font-size: 18px;
}
.localisation i {
  margin-right: 20px;
}

.hero {
  background-color: #F6F6F6;
  margin: 0;
  height: 22rem;
  display: grid;
  place-content: center;
}
.hero__title {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  padding: 20px 20px 0 20px;
  font-weight: 700;
}
.hero__disclaimer {
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 20px;
}

.card {
  display: flex;
  width: 100%;
  height: 4rem;
  position: relative;
  align-items: center;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-weight: 600;
  color: #2E2E2E;
  transition: all;
  transition-duration: 150ms;
}
@media screen and (min-width: 992px) {
  .card {
    flex-direction: column;
    height: 12rem;
    width: 15rem;
    align-items: center;
    text-align: center;
  }
  .card__badge {
    top: -5px;
    left: 0;
  }
  .card__icone > i {
    font-size: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    flex-direction: column;
    height: 9rem;
    width: 10rem;
    align-items: center;
    text-align: center;
  }
  .card__badge {
    top: -5px;
    left: 0;
  }
  .card__icone > i {
    font-size: 30px;
  }
}
.card:hover {
  background-color: rgba(146, 86, 220, 0.1725490196);
  cursor: pointer;
}
.card:hover .card__icone {
  color: hsl(267deg, 66%, 60%);
}
.card__icone {
  color: gray;
  font-size: 25px;
  width: 20%;
  text-align: center;
}
.card__badge {
  position: absolute;
  left: -15px;
  padding: 5px 10px;
  border-radius: 100px;
  background-color: hsl(267deg, 66%, 60%);
  color: white;
}
.card__text {
  font-size: 1.2rem;
  width: 70%;
}

.restaurantCard {
  width: 90%;
  margin: auto;
  background-color: white;
  position: relative;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: all;
  transition-duration: 150ms;
}
.restaurantCard:hover {
  transform: scale(102%);
}
.restaurantCard__image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 50% 70%;
  border-radius: 15px 15px 0 0;
}
.restaurantCard__badge {
  background-color: rgb(169, 224, 209);
  padding: 0.5rem 0.5rem;
  border-radius: 0.15rem;
  color: rgb(53, 132, 103);
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.75rem;
}
.restaurantCard__infos {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.restaurantCard__infos__text {
  line-height: 0.5rem;
  padding-left: 1rem;
}
.restaurantCard__infos__text p {
  font-weight: 100;
}

.gradientButton {
  background: linear-gradient(180deg, hsl(317deg, 100%, 74%) 0%, hsl(267deg, 66%, 60%) 100%);
  color: #FFF;
  margin: auto;
  max-width: 25rem;
  width: 55%;
  height: 3rem;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 30px;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all;
  transition-duration: 350ms;
}
.gradientButton a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradientButton:hover {
  background: linear-gradient(180deg, hsl(317deg, 100%, 79%) 0%, hsl(267deg, 66%, 65%) 100%), hsl(317deg, 100%, 79%);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.4);
  transition: all 350ms;
}

.section {
  min-height: 32rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .section {
    min-height: 23rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    min-height: 20rem;
  }
}
.section__title {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.section__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  gap: 25px;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  .section__display__restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section__display__restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .section__display__function {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section__display__function {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
.section--white {
  background-color: white;
}
.section--gray {
  background-color: #F6F6F6;
  padding-bottom: 3rem;
}

.illustration {
  position: absolute;
  top: 3rem;
  width: 100%;
  object-fit: cover;
  height: 20rem;
  z-index: -1;
}

.menu {
  width: 100%;
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .menu__card {
    width: 100%;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .menu__card {
    width: 100%;
    font-size: 0.75rem;
  }
}
.menu__title {
  background-color: #F6F6F6;
  padding-top: 1.5rem;
  border-radius: 50px 50px 0 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Shrikhand";
  font-size: 1rem;
  z-index: 1;
  margin-top: 18rem;
}
.menu__title__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu__section {
  width: 90%;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.menu__section__title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.15rem;
}
.menu__section__separator {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  width: 3rem;
  height: 0.25rem;
  background-color: hsl(165deg, 56%, 74%);
}
.menu__card {
  margin: 1rem auto;
  background-color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  opacity: 0;
  transform: translateY(60px);
}
.menu__card__text {
  padding-left: 0.75rem;
  display: grid;
  height: 100%;
  gap: 0.5rem;
  align-content: center;
  z-index: -1;
  text-overflow: ellipsis;
}
.menu__card__text > h3 {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card__text > p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card__text p {
  font-weight: 100;
}
.menu__card__right {
  display: flex;
}
.menu__card__price {
  z-index: 1;
  font-weight: 600;
  padding-right: 0.75rem;
  align-items: flex-end;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  display: flex;
}
.menu__card__check {
  background-color: hsl(165deg, 56%, 74%);
  font-size: 2rem;
  color: white;
  height: 4.5rem;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  transition-duration: 1s;
}
.menu__card:hover .menu__card__check {
  width: 4.5rem;
  transition: all;
  transition-duration: 1s;
}
.menu__card:hover .menu__card__check > i {
  transform: rotate(-360deg);
  transition: all;
  transition-duration: 1s;
}
.menu__display .menu__card {
  animation: smooth-appear 600ms forwards;
}
.menu__display :nth-child(1) {
  animation-delay: 800ms;
}
.menu__display :nth-child(2) {
  animation-delay: 1000ms;
}
.menu__display :nth-child(3) {
  animation-delay: 1200ms;
}
.menu__display :nth-child(4) {
  animation-delay: 1400ms;
}
@media screen and (min-width: 992px) {
  .menu__button {
    position: relative;
    left: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__button {
    grid-column: span 2/span 2;
  }
}

.like {
  padding-right: 1rem;
}
.like input[type=checkbox] {
  display: none;
}
.like label {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  transition: all;
  transition-duration: 1s;
}
.like label i:first-child {
  display: inline-block;
}
.like label i:last-child {
  display: none;
}
.like label:hover i:first-child {
  display: none;
}
.like label:hover i:last-child {
  display: inline-block;
  background-image: linear-gradient(180deg, hsl(317deg, 100%, 74%) 0%, hsl(267deg, 66%, 60%) 100%);
  animation: smooth-filling 1.5s ease-in-out forwards, bounce 1s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes smooth-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes smooth-filling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes descending {
  100% {
    top: 0;
    position: fixed;
  }
}
@keyframes spin {
  0% {
    color: hsl(267deg, 66%, 60%);
  }
  33% {
    color: hsl(317deg, 100%, 74%);
  }
  66% {
    color: hsl(165deg, 56%, 74%);
  }
  100% {
    transform: rotate(-360deg);
    color: hsl(267deg, 66%, 60%);
  }
}
@keyframes shade-out {
  99% {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    top: -200px;
    display: none;
  }
}
@keyframes hide-block {
  to {
    opacity: 0;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
