.loader {
    position: fixed;
    top:0;
    left:0;
    display: block;
    z-index: 5000;
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    place-content: center;
    place-items: center;
    animation: shade-out 1s 3s 1 ease-in-out forwards;
    & > i {
        font-size: 8rem;
        color: $color-primary;
        animation: spin 3s linear infinite;
        
    }
}

.localisation {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mid-gray;
    color: $dark-gray;
    font-size: 18px;
    i {
        margin-right: 20px;
    }
}

.hero {
    background-color: $light-gray;
    margin: 0;
    height: 22rem;
    display: grid;
    place-content: center;
    &__title {
        font-size: 2.5rem;
        margin: 0;
        text-align: center;
        padding: 20px 20px 0 20px;
        font-weight: 700;
    }
    &__disclaimer {
        font-weight: 100;
        font-size: 1.5rem;
        text-align: center;
        padding: 5px 20px;
    }
}

.card {
    @include desktop {
        flex-direction: column;
        height: 12rem;
        width: 15rem;
        align-items: center;
        text-align: center;
        &__badge {
            top: -5px;
            left: 0;
        }
        &__icone {
            & > i {
                font-size: 50px;
            }
        }
    }
    @include tablette {
        flex-direction: column;
        height: 9rem;
        width: 10rem;
        align-items: center;
        text-align: center;
        &__badge {
            top: -5px;
            left: 0;
        }
        &__icone {
            & > i {
                font-size: 30px;
            }
        }
    }
    display: flex;
    width: 100%;
    height: 4rem;
    position: relative;
    align-items: center;
    box-shadow: $box-shadow;
    justify-content: space-evenly;
    padding: .5rem;
    background-color: $light-gray;
    border-radius: 20px;
    font-weight: 600;
    color: $dark-gray;
    transition: all;
    transition-duration: 150ms;
    &:hover{
        background-color: #9256dc2c;
        cursor: pointer;
        .card__icone {
            color: $color-primary;
        }
    }

    &__icone {
        color: gray;
        font-size: 25px;
        width: 20%;
        text-align: center;
    }

    &__badge {
        position: absolute;
        left: -15px;
        padding: 5px 10px;
        border-radius: 100px;
        background-color: $color-primary;
        color: white;
    }

    &__text {
        font-size: 1.2rem;
        width: 70%;
    }
}

.restaurantCard {
    width: 90%;
    margin: auto;
    background-color: white;
    position: relative;
    //height: 8rem;
    box-shadow: $box-shadow;
    border-radius: 15px;
    transition: all;
    transition-duration: 150ms;
    &:hover{
       transform: scale(1.02);
    }
    &__image {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        object-position: 50% 70%;
        border-radius: 15px 15px 0 0;
    }
    &__badge {
        background-color: rgb(169, 224, 209);
        padding: 0.5rem 0.5rem;
        border-radius: 0.15rem;
        color: rgb(53, 132, 103);
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: .75rem;
    }
    &__infos {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        &__text{
            line-height: .5rem;
            padding-left: 1rem;
            p {
                font-weight: 100;
            }
        }
    }
}