.illustration {
    position: absolute;
    top: 3rem;
    width: 100%;
    object-fit: cover;
    height: 20rem;
    z-index: -1;
}

.menu {
    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &__card {
            width: 100%;
            font-size: .75rem;
        }
    }
    width: 100%;
    padding-bottom: 4rem;
    &__title {
        background-color: $light-gray;
        padding-top: 1.5rem;
        border-radius: 50px 50px 0 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-family: $title ;
        font-size: 1rem;
        z-index: 1;
        margin-top: 18rem;
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__section {
        width: 90%;
        padding-bottom: 2rem;
        margin: auto;
        &__title {
            font-weight: 100;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: .15rem;
        }
        &__separator{
            display: block;
            margin-top: .5rem;
            margin-bottom: .75rem;
            width: 3rem;
            height: .25rem;
            background-color: $color-tertiary;
        }
    }
    &__card {
        max-width: 25rem;
        margin: 1rem auto;
        background-color: white;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: $box-shadow;
        // padding: .5rem;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        height: 4.5rem;
        opacity: 0;
        transform: translateY(60px);
        &__text {
            & > h3 {
                margin: 0;
            }
            & > p {
                margin : 0;
            }
            padding-left: .75rem;
            display: grid;
            height: 100%;
            gap: .5rem;
            align-content: center;
            z-index: -1;
            text-overflow: ellipsis;
            p {
                font-weight: 100;
            }
        }
        &:hover {
            & .menu__card__price {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 4.5rem;
                background-color: white;
                padding-right: 0;
                &::before{
                    content: "";
                    width: .5rem;
                    height: 4.5rem;
                    background-color: white;
                    position: relative;
                    bottom: -0.75rem ;
                }
                &::after{
                    content: "\f00c"; /* code Unicode pour l'icône de coche solide */
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 1.5rem;
                    display: flex;
                    position: relative;
                    right: 0;
                    bottom: -0.75rem;
                    justify-content: center;
                    align-items: center;
                    width: 4.5rem;
                    margin-left: 4.5rem;
                    border-radius: 0 15px 15px 0;
                    height: 4.5rem;
                    margin-left: 0.5rem;
                    background-color: $color-tertiary;
                }
            }
        }
        &__price {
            z-index: 1;
            font-weight: 600;
            padding-right: .75rem;
            align-items: flex-end;
            padding-bottom: .75rem;
            display: flex;
        }
    }
    &__display {
        .menu__card {
            animation: smooth-appear 600ms forwards;
        }
        @for $i from 1 through 4 {
            & :nth-child(#{$i}) {
              animation-delay: 800ms + ($i - 1) * 200ms;
            }
        }
    }
}