.illustration {
    position: absolute;
    top: 3rem;
    width: 100%;
    object-fit: cover;
    height: 20rem;
    z-index: -1;
}

.menu {
    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &__card {
            width: 100%;
            font-size: .75rem;
        }
    }
    width: 100%;
    padding-bottom: 4rem;
    &__title {
        background-color: $light-gray;
        padding-top: 1.5rem;
        border-radius: 50px 50px 0 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-family: $title ;
        font-size: 1rem;
        z-index: 1;
        margin-top: 18rem;
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__section {
        width: 90%;
        padding-bottom: 2rem;
        margin: 0 auto;
        &__title {
            font-weight: 100;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: .15rem;
        }
        &__separator{
            display: block;
            margin-top: .5rem;
            margin-bottom: .75rem;
            width: 3rem;
            height: .25rem;
            background-color: $color-tertiary;
        }
    }
    &__card {
        margin: 1rem auto;
        background-color: white;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: $box-shadow;
        // padding: .5rem;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        height: 4.5rem;
        opacity: 0;
        transform: translateY(60px);
        &__text {
            & > h3 {
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            & > p {
                margin : 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            padding-left: .75rem;
            display: grid;
            height: 100%;
            gap: .5rem;
            align-content: center;
            z-index: -1;
            text-overflow: ellipsis;
            p {
                font-weight: 100;
            }
        }
        &__right {
            display: flex;
        }
        &__price {
            z-index: 1;
            font-weight: 600;
            padding-right: .75rem;
            align-items: flex-end;
            padding-bottom: .75rem;
            padding-left: .5rem;
            display: flex;
        }
        &__check {
            background-color:  $color-tertiary;
            font-size: 2rem;
            color: white;
            height: 4.5rem;
            width: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all;
            transition-duration: 1s;
        }
        &:hover {
            .menu__card__check {
                width: 4.5rem;
                transition: all;
                transition-duration: 1s;
                & > i {
                    transform: rotate(-360deg);
                    transition: all;
                    transition-duration: 1s;
                }
            }
        }
    }
    &__display {
        .menu__card {
            animation: smooth-appear 600ms forwards;
        }
        @for $i from 1 through 4 {
            & :nth-child(#{$i}) {
              animation-delay: 800ms + ($i - 1) * 200ms;
            }
        }
    }
    &__button {
        position: relative;
        left: 100%;
    }
}