@keyframes smooth-appear {
    from {
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes smooth-filling {
    // 0% { 
    //     height: 0;
    //     transform-origin: bottom;
    // }
    // 100% { 
    //     height: 2rem;
    //     transform-origin: top;
    // }
    0% { opacity:0; }
    100% { opacity:1 ; }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes descending {
    100% {
        top: 0;
        position: fixed;
    }
}

@keyframes spin {
    0% {
        color: $color-primary;
    }
    33% {
        color: $color-secondary;
    }
    66% {
        color: $color-tertiary;
    }
    100% {
        transform: rotate(360deg);
        color: $color-primary;
    }
}

@keyframes shade-out {
    99% {
        top:0;
        left:0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    100% {
        width: 0;
        height: 0;
        opacity: 0;
        top:-200px;
        display: none;
    }
}

@keyframes hide-block {
    to {
        opacity: 0;
        display: none;
    }
}
    
    