@mixin tablette {
    @media screen and (min-width: 768px) and (max-width:991px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin smooth-appear {
    $n : length(&);
    @for $i from 1 through $n {
      .menu-display &__card:nth-child(#{$i}) {
        transition-delay: 400ms + #{($i * 100ms)};
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  